<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" href="estilos.css">
<body>

	<h1>Hola mundo👋🏼👋🏼</h1>
	<p>Seguimos practicando los inicios de Spring Boot</p>
	<hr>

	<ol>
		<li>@Controller</li>
		<li>@GetMapping</li>
	</ol>
	
	<img alt="" src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjB5MmQ3d3FtczR3Nmp1ZGEzM2lwdnY3MnRkdWZiMmwweXc1M2c0ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KvjwBg3khErEqoqKwF/giphy.gif">

</body>
</html>